In [2]:
import pandas as pd

df = pd.read_csv('./Datos/datos_negocios.csv',  sep=',', decimal='.')
df

,negocio_id,nombre,direccion,ciudad,estado,codigo_postal,latitud,longitud,puntuacion,num_revisiones,abierto,atributos,categorias,horas
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",NaN
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,NaN,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192604,nqb4kWcOwp8bFxzfvaDpZQ,Sanderson Plumbing,NaN,North Las Vegas,NV,89032,36.213732,-115.177059,5.0,9,1,{'BusinessAcceptsCreditCards': 'True'},"Water Purification Services, Water Heater Inst...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
192605,vY2nLU5K20Pee-FdG0br1g,Chapters,17440 Yonge Street,Newmarket,ON,L3Y 6Y9,44.052658,-79.481850,4.5,3,1,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Books, Mags, Music & Video, Shopping",NaN
192606,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ..."
192607,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1..."
192608,c1f_VAX1KIK8-JoVhjbYOw,Oriental Relax,3735 S Las Vegas Blvd,Las Vegas,NV,89109,36.107267,-115.171920,4.0,3,0,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Massage, Beauty & Spas","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ..."

In [3]:
df1 = pd.DataFrame(df['nombre'])
df1 = pd.DataFrame(df1.groupby(df1.columns.tolist(),as_index=False).size().sort_values(ascending = False),  columns=['repeticiones'])
df1

                           repeticiones
nombre
Starbucks                          1066
McDonald's                          806
Subway                              768
Tim Hortons                         333
Pizza Hut                           320
...                                 ...
Pat's Lawn Service                    1
Pat's Men's Barber Shop               1
Pat's No Frills                       1
Pat's Pizza Plus                      1
 L & A Insurance Services             1

[145046 rows x 1 columns]

In [9]:
prueba = pd.DataFrame()
prueba['repes'] = df['nombre'].value_counts()
prueba['nombre'] = prueba.index
prueba

                                   repes                             nombre
Starbucks                           1066                          Starbucks
McDonald's                           806                         McDonald's
Subway                               768                             Subway
Tim Hortons                          333                        Tim Hortons
Pizza Hut                            320                          Pizza Hut
...                                  ...                                ...
Sixtus Gallery                         1                     Sixtus Gallery
East Valley Family Physicians          1      East Valley Family Physicians
East Valley Ink Tattoo & Piercing      1  East Valley Ink Tattoo & Piercing
OKU yoga                               1                           OKU yoga
CLE Nutrition                          1                      CLE Nutrition

[145046 rows x 2 columns]

In [14]:
franquicias = prueba[prueba['repes'] > 1]
franquicias

,repes,nombre
Starbucks,1066,Starbucks
McDonald's,806,McDonald's
Subway,768,Subway
Tim Hortons,333,Tim Hortons
Pizza Hut,320,Pizza Hut
...,...,...
Lady Janes Haircuts For Men,2,Lady Janes Haircuts For Men
Fruit Jungle,2,Fruit Jungle
The Korner Pub,2,The Korner Pub
Cabo Wabo Cantina,2,Cabo Wabo Cantina
Natural White Advanced Teeth Whitening,2,Natural White Advanced Teeth Whitening

## Negocios con su nota media
A continuación veremos los negocios con la media de su puntuación para poder ver cuáles son los mejores votados y aprovechar estos datos para analizar posteriormente otros aspectos.

In [13]:
df2 = pd.DataFrame(df[['nombre','puntuacion']])
suma = []
num_negocios = []
for i in range(len(prueba['nombre'])):
    suma.append(0)
    num_negocios.append(0)
    for j in range (len(df2['nombre'])):
        if prueba['nombre'].iloc[i] == df2['nombre'].iloc[j]:
            suma[i] += df2['puntuacion'].iloc[j]
            num_negocios[i] += 1;

print (suma)
print (negocios)

KeyboardInterrupt: