In [1]:
import pandas as pd
#pd.set_option('display.max_colwidth', -1)
df = pd.read_csv('./Datos/datos_opiniones.csv', sep=',', decimal= '.', quotechar='"', engine='python', error_bad_lines=False)
df = df.drop(['opinion_id'], axis=1)
df

Skipping line 599579: unexpected end of data

,usuario_id,negocio_id,puntuacion,util,divertido,guay,texto,fecha
0,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over dol...,2013-05-07 04:34:36
1,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38
...,...,...,...,...,...,...,...,...
599572,eOIMO2wT_WbNqmavhnCRxw,QhXBIQWUmQxuVErdwY2QVw,4.0,5,2,6,I found Manila BBQ on Yelp Friday morning and ...,2018-05-13 03:32:38
599573,GAw9Hvs-znHlWMpo_Jeyug,qQCsLGMncJp1xWUGnOKCQA,1.0,0,0,0,I want to start by saying that I have been to ...,2018-11-13 23:05:09
599574,3fqjtPCoXYzHSvSXKYP16A,GcVsgbyPtrTZEcssYS9cVQ,4.0,4,1,1,Guys. Listen. Fried rice and chow mein in a st...,2018-10-04 04:35:41
599575,ztHEYlV5KLnfmmPpj6w49A,Ku_c9V0nj6bYcEYPPJuahA,2.0,5,3,1,I don't really know why I have been to this pl...,2008-03-11 01:04:19
599576,MUsXhUuDRzGLkh2l3aNDGA,YxwxKqemcKwV4vIQXhVv_w,5.0,2,1,2,"Love this spot for lunch, but I recommend spli...",2016-06-11 19:53:09

In [2]:
df.describe()

          puntuacion           util      divertido           guay
count  599577.000000  599577.000000  599577.000000  599577.000000
mean        3.722998       1.329135       0.461012       0.561478
std         1.460114       3.091651       1.760453       2.144102
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000       0.000000
75%         5.000000       2.000000       0.000000       0.000000
max         5.000000     215.000000     183.000000     207.000000

In [3]:
import pandas as pd

mediana = df["puntuacion"].median()
moda = df["puntuacion"].mode()
print("""
    Mediana: %d.0 / 5.0
    Moda: %d.0 / 5.0
""" % (mediana,moda))

    Mediana: 4.0 / 5.0
    Moda: 5.0 / 5.0

In [4]:
import math

print(df['puntuacion'].hist(bins=5, grid=False, figsize=(12,8), color='#86bf91', zorder=2, rwidth=0.9))

AxesSubplot(0.125,0.11;0.775x0.77)

In [5]:
#subset = df[['texto']]
#subset.head(20)

In [6]:
#subset = pd.DataFrame(subset.groupby(subset.columns.tolist(),as_index=False).size().sort_values(ascending = False))
#subset = subset.duplicated(subset=None, keep='first')
#subset.head(20)

#Select all duplicate rows based on one column
#duplicateRowsDF = df[df.duplicated(['texto'])]
#duplicateRowsDF


# Select duplicate rows except first occurrence based on all columns
#df1 = df[df.duplicated()]
#df.subtract(df1, fill_value=0)